@import url('https://fonts.googleapis.com/css2?family=Glory:wght@500&family=Yanone+Kaffeesatz:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Glory:wght@600&family=Raleway:wght@200&family=Yanone+Kaffeesatz:wght@600&display=swap');
.button{
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 10px;
    background-color: #F2AE1C;
    font-size: 1rem;
    margin-right: 3%;
    font-weight: bold;
    display: inline-flex;
    width: auto;
    border-style: none;
    justify-content: center;
    cursor: pointer;
    font-family: 'Raleway', sans-serif;
    /* margin-top: 0; */
}

.button:active{
    background-color: rgb(192, 192, 33);
}

.button2{
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 10px;
    background-color: #F2AE1C;
    font-size: 1rem;
    margin-right: 3%;
    font-weight: bold;
    display: inline-flex;
    width: auto;
    border-style: none;
    justify-content: center;
    cursor: pointer;
    font-family: 'Raleway', sans-serif;
    margin-top: 0;
}
