.checkout{
    height: 400px;
    display: flex;
    background-color: #EFEFEF;
}

.content{
    flex: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Glory', sans-serif;
}

.container h1{
    font-size: 2.5rem;
    margin: 10px;
}

.container p{
    margin: 0;
    line-height: 20px;
}

.charimg{
    display: flex;
    align-items:flex-end;
    justify-content: center;
    flex:50%;
}

.charimg img{
    width: 600px;
}

.extra{
    margin: 0%;
}
