@import url('https://fonts.googleapis.com/css2?family=Glory:wght@500&family=Raleway:wght@200&family=Yanone+Kaffeesatz:wght@500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Glory:wght@400;500&family=Raleway:wght@200&family=Yanone+Kaffeesatz:wght@500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Glory:wght@500&family=Yanone+Kaffeesatz:wght@600&display=swap');

.feature{
    height: 800px;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.feature h1{
    font-family: 'Glory', sans-serif;
    font-size: 2rem;
  
}

.container{
    margin-top: 20px;
    display: flex;
    justify-content: space-evenly;
}

.column{
    display: flex;
    margin-left: 20px;
    margin-right: 20px;

}

.card{
    display: flex;
    flex-direction: column;
    padding: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}

.manimg img{
    width: 260px;
    border-radius: 10px;
}


.extra{
    margin-top: 0%;
}




