.nav{
    height: 80px;
    display: flex;
    /* justify-content: space-between; */
    padding-left: 5rem;
    padding-right: 5rem;
    position:absolute;
    top: 0px; 
    left: 0px;
    width: 100%;
    padding: 0%;
    /* background-color: rgba(0, 0, 0, 0.5); */
}

.logo{
    flex: 30%;
    position: relative;
    bottom: 10px;
    cursor: pointer;
}

.menu{
    flex: 39%;
    display:flex;
    flex-direction: row;
    justify-content:space-evenly;
    align-items: center;
    padding: 0%;
    color: #f8db34;
    font-weight: bolder;
}

.menu p{
    /* padding: 0px; */
    cursor: pointer;
}

.button{
    flex: 30%;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
}