.reviews {
    background-color: #FDB827;
    background:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.7)), url("./../../aset/kanojo-bg.jpg");
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center;
    height: auto;
    color: white;
}

.container {
    padding-top: 70px;
    display: flex;
    flex-direction: column;
    padding-left: 30px;
    padding-right: 30px;
}

.row1{
    display: flex;
    flex-wrap: wrap;
    padding-top: 10px;
    /* padding-left: 120px; */
    justify-content: center;
}

.imgbox{
    display: flex;
    border-radius: 20px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 0px;
    justify-content: center;
}

.imgbox img{
    width: 170px;
    border-radius: 10px;
}

.row2{
    display: flex;
    padding-top:10px;
    flex-wrap: wrap;
    /* padding-left: 120px; */
    justify-content: center;
}

.content{
    margin-top: 30px;
    padding-top: 30px;
    padding-bottom: 30px;
}

.content h1{
    margin: 0%;
    font-size: 2.5rem;
    font-family: 'Glory', sans-serif;
    color: white;
}

@media(max-width:1040px){
    .imgbox img{
        width: 80px;
        border-radius: 20px;
    }
}